
    *::before, *::after,*:before,*:after{
            box-sizing: border-box;
    }
    body{
        width: 90%;
        margin: 2em auto;
    }
    header{
        background-color: red;
        color: chartreuse;
    }
    nav{
        border: 1px solid yellow;
        overflow: auto;

    }
    nav ul{
        list-style: none;
    }
    nav ul li{
        display:inline-block;
    }
    body>article, body>div{
        float: left;
    }
    body>article{
        width: 70%;
    }
    body>div{
        width: 30%;
    }
    footer{
        border-top: 1px solid red;
    }
    .clear{
        clear: both;
    }

    
